body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#seconnecter
{
	display: flex;
	justify-content:space-between;
}

h1
{
    margin-bottom: 5%;
}

#contenu
{
	display: flex;
	flex-direction: row;
}


input
{
	width:300px;
	height: 40px;
}

select
{
	font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

button
{
    font-size: 15px;
    margin-top: 20%;
    margin-left: 150%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#encheres
{
	display: flex;
	list-style-type:none;
	margin-top: 5%;
}

#enchere1
{
    
    margin-left: 20%;
    text-align: left;
}

#enchere2
{
  
    margin-left: 5%;
    text-align: left;
}

#enchere3
{
 
    margin-left: 5%;
    text-align: left;
}

img
{
	width:200px;
	height: 100px;
}


