@charset "UTF-8";
body
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 

 

h1
{
    margin-bottom: 5%;
}
.recherche{
    display:flex;
    justify-content:space-around;
}
#encheres{
    display: inline-flex;
    justify-content:space-around;
    list-style-type:none;
}
button{
    width:400px;
    height: 100px;
}
#seconnecter
{
     display: flex;
    justify-content:space-between;
}
#enchere1
{
    display: inline-flex;
    justify-content:space-between;
    margin-left: 30%;
    text-align: left;
}
img
{
    width:200px;
    height: 100px;
}
input
{
    width:300px;
    height: 40px;
}
select
{
    width:275px;
    height: 40px;
}
#enchere2
{
    display: inline-flex;
    justify-content:space-between;
    margin-left: 30%;
    text-align: left;
}
#enchere3
{
    display: inline-flex;
    justify-content:space-between;
    margin-left: 30%;
    text-align: left;
}