body
{
    text-align: center;
}

h1
{
    margin-bottom: 5%;
}
#infos_compte
{
    display: flex;
    margin-left: 30%;
    text-align: left;
}

#infos_1
{
    margin-right: 10%;
}
footer
{
    text-align: center;
    margin-top: 5%;
}
footer input
{
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}