body
{
	color:blue;
    text-align: center;
    margin-top: 10%;
 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p
{
    font-size: 14px;
    margin-top: 2%;
}

input
{
    margin-top: 10%;
    margin-left: 45%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 16px;
}